<div>
  <div class="container">
    <div class="text-center" >
      <div style="font-size: large">
              Search Student by Entering Name/Roll:
                <input type="text" [(ngModel)]="searchText"/>
      </div>
      <table>
        <tr>
          <th>Sr. No.</th>
          <th (click)="sortOrder = getSortEnum().ROLL_NO">Roll</th>
          <th (click)="sortOrder = getSortEnum().NAME"> Name</th>
          <th (click)="sortOrder = getSortEnum().PERCENTAGE"> Percentage</th>
          <th (click)="sortOrder = getSortEnum().DATEOFBIRTH">Date Of Birth</th>
        </tr>
        <tr *ngFor="let student of students | sort: sortOrder | search : searchText; let i=index;"
            [class.red-color]="student.percentage < 40">
          <td> {{i+1}} </td>
          <td> {{student.rollNo}}</td>
          <td> {{student.name | uppercase}}</td>
          <td> {{student.percentage}}</td>
          <td> {{student.dateOfBirth | date:'dd/MM/yyyy'}}</td>
        </tr>
      </table>

      <ul *ngIf="pager.pages && pager?.pages?.length" class="pagination">
        <li [class.disabled]="pager.currentPage === 1">
          <a (click)="setPage(1)">First</a>
        </li>
        <li [class.disabled]="pager?.currentPage === 1">
          <a (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let page of pager?.pages" [class.active]="pager.currentPage === page">
          <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [class.disabled]="pager?.currentPage === pager.totalPages">
          <a (click)="setPage(pager.currentPage + 1)">Next</a>
        </li>
        <li [class.disabled]="pager?.currentPage === pager.totalPages">
          <a (click)="setPage(pager.totalPages)">Last</a>
        </li>
      </ul>
    </div>
  </div>
  <hr />
</div>



